<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h2>商品登録</h2>
<form role="form" th:action="@{/item}" th:object="${itemForm}" method="post">

商品コード：
<input type="text" th:field="*{itemCode}" th:errorclass="fieldError" />
<span th:if="${#fields.hasErrors('itemCode')}" th:errors="*{itemCode}" class="fieldErrorMessage"></span>
<br />

商品名：
<input type="text" th:field="*{itemName}" th:errorclass="fieldError" />
<span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="fieldErrorMessage"></span>
<br />

<button type="submit">登録</button>

</form>
</body>
</html>
