<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h2>Bean Validation Sample 3a</h2>
<form role="form" th:action="@{/validation3a}" th:object="${validationForm3a}" method="post">

日付（期間）：
<input type="date" th:field="*{dateFrom}" th:errorclass="fieldError" />
-
<input type="date" th:field="*{dateTo}" th:errorclass="fieldError" />
<span th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}" class="fieldErrorMessage"></span>
<span th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}" class="fieldErrorMessage"></span>
<br />

<button type="submit">Confirm</button>

</form>
</body>
</html>
